<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--  To collect diagnostic traces, uncomment the section below or merge with existing system.diagnostics section.
        To persist the traces to storage, update the DiagnosticsConnectionString setting with your storage credentials.
        To avoid performance degradation, remember to disable tracing on production deployments.
  <system.diagnostics>     
    <sharedListeners>
      <add name="AzureLocalStorage" type="ScanMyListWebRole.AzureLocalStorageTraceListener, ScanMyListWebRole"/>
    </sharedListeners>
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose, ActivityTracing">
        <listeners>
          <add name="AzureLocalStorage"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose">
        <listeners>
          <add name="AzureLocalStorage"/>
        </listeners>
      </source>
    </sources> 
   </system.diagnostics> -->
  <connectionStrings>
    <add name="ScanMyListConnectionString" connectionString="Data Source=iml0mpyqrb.database.windows.net;Initial Catalog=ScanMyList;User ID=smladmin;Password=SCANmyLIST2012" providerName="System.Data.SqlClient" />
    <add name="ScanMyListTestConnectionString" connectionString="Data Source=iml0mpyqrb.database.windows.net;Initial Catalog=ScanMyListTest;Persist Security Info=True;User ID=smladmin;Password=SCANmyLIST2012" providerName="System.Data.SqlClient" />
    <add name="ScanMyListNewDatabaseConnectionString" connectionString="Data Source=iml0mpyqrb.database.windows.net;Initial Catalog=ScanMyListNewDatabase;Persist Security Info=True;User ID=smladmin;Password=SCANmyLIST2012" providerName="System.Data.SqlClient" />
    <add name="ScanMyListNewDatabaseTestConnectionString" connectionString="Data Source=iml0mpyqrb.database.windows.net;Initial Catalog=ScanMyListNewDatabaseTest;User ID=smladmin;Password=SCANmyLIST2012" providerName="System.Data.SqlClient" />
    <add name="SynchTestDBConnectionString" connectionString="Data Source=iml0mpyqrb.database.windows.net;Initial Catalog=SynchTestDB;User ID=smladmin;Password=SCANmyLIST2012" providerName="System.Data.SqlClient" />
    <add name="SynchDevelopmentDBConnectionString" connectionString="Data Source=iml0mpyqrb.database.windows.net;Initial Catalog=SynchDevelopmentDB;User ID=smladmin;Password=SCANmyLIST2012" providerName="System.Data.SqlClient" />
    <add name="SynchDevelopmentDB2ConnectionString" connectionString="Data Source=omi6dwwsxk.database.windows.net;Initial Catalog=SynchDevelopmentDB2;User ID=smladmin;Password=SCANmyLIST2012" providerName="System.Data.SqlClient" />
    <add name="SynchProductionDB2ConnectionString" connectionString="Data Source=omi6dwwsxk.database.windows.net;Initial Catalog=SynchProductionDB2;User ID=smladmin;Password=SCANmyLIST2012;Max Pool Size=1000" providerName="System.Data.SqlClient" />
    <add name="SynchTestDB2ConnectionString" connectionString="Data Source=omi6dwwsxk.database.windows.net;Initial Catalog=SynchTestDB2;User ID=smladmin;Password=SCANmyLIST2012" providerName="System.Data.SqlClient" />
    <add name="SynchDevelopmentDB2ConnectionString1" connectionString="Data Source=omi6dwwsxk.database.windows.net;Initial Catalog=SynchDevelopmentDB2;Persist Security Info=True;User ID=smladmin;Password=SCANmyLIST2012" providerName="System.Data.SqlClient" />
    <add name="SynchDevelopmentDB2Entities" connectionString="metadata=res://*/Models.SynchEntityDataModel.csdl|res://*/Models.SynchEntityDataModel.ssdl|res://*/Models.SynchEntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=omi6dwwsxk.database.windows.net;initial catalog=SynchDevelopmentDB2;persist security info=True;user id=smladmin;password=SCANmyLIST2012;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="httpsBinding">
          <security mode="Transport"></security>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="serviceBehavior" name="SynchWebRole.ServiceManager.SynchDataService">
        <endpoint address="/all" binding="webHttpBinding" bindingConfiguration="httpsBinding"
          contract="SynchWebRole.ServiceManager.ISynchDataService" />
        <endpoint address="/admin" binding="webHttpBinding" bindingConfiguration="httpsBinding"
          contract="SynchWebRole.ServiceManager.IAccountManager" />
        <endpoint address="/business" binding="webHttpBinding" bindingConfiguration="httpsBinding"
          contract="SynchWebRole.ServiceManager.IBusinessManager" />
        <endpoint address="/record" binding="webHttpBinding" bindingConfiguration="httpsBinding"
          contract="SynchWebRole.ServiceManager.IRecordManager" />
        <endpoint address="/inventory" binding="webHttpBinding" bindingConfiguration="httpsBinding"
          contract="SynchWebRole.ServiceManager.IInventoryManager" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <!--serviceMetadata httpGetEnabled="true"/-->
          <serviceMetadata httpsGetEnabled="true" httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!-- Changed by Changhao Han: temp solution -->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
    -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>