<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ERPIntegrationWorkerRole.Properties.Settings.SynchTestDBConnectionString"
            connectionString="Data Source=iml0mpyqrb.database.windows.net;Initial Catalog=SynchTestDB;User ID=smladmin;Password=SCANmyLIST2012"
            providerName="System.Data.SqlClient" />
        <add name="ERPIntegrationWorkerRole.Properties.Settings.SynchDevelopmentDBConnectionString"
            connectionString="Data Source=iml0mpyqrb.database.windows.net;Initial Catalog=SynchDevelopmentDB;User ID=smladmin;Password=SCANmyLIST2012"
            providerName="System.Data.SqlClient" />
        <add name="ERPIntegrationWorkerRole.Properties.Settings.SynchDevelopmentDB2ConnectionString"
            connectionString="Data Source=omi6dwwsxk.database.windows.net;Initial Catalog=SynchDevelopmentDB2;User ID=smladmin;Password=SCANmyLIST2012"
            providerName="System.Data.SqlClient" />
        <add name="ERPIntegrationWorkerRole.Properties.Settings.SynchProductionDB2ConnectionString"
            connectionString="Data Source=omi6dwwsxk.database.windows.net;Initial Catalog=SynchProductionDB2;User ID=smladmin;Password=SCANmyLIST2012;Max Pool Size=1000"
            providerName="System.Data.SqlClient" />
        <add name="ERPIntegrationWorkerRole.Properties.Settings.SynchTestDB2ConnectionString"
            connectionString="Data Source=omi6dwwsxk.database.windows.net;Initial Catalog=SynchTestDB2;User ID=smladmin;Password=SCANmyLIST2012"
            providerName="System.Data.SqlClient" />
        <add name="ERPIntegrationWorkerRole.Properties.Settings.SynchDevelopmentDB2ConnectionString1"
            connectionString="Data Source=omi6dwwsxk.database.windows.net;Initial Catalog=SynchDevelopmentDB2;Persist Security Info=True;User ID=smladmin;Password=SCANmyLIST2012"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <trace>
            <listeners>
                <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                    name="AzureDiagnostics">
                    <filter type="" />
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
</configuration>